.header {
	position: relative;
	height: 100vh;

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		max-width: 467px;
		font-size: 200px;
		font-weight: 800;
		line-height: 156px;
		text-transform: uppercase;
		opacity: 0.06;
	}

	.menu-btn {
		display: none;
		width: 37px;
		position: absolute;
		right: 43px;
		top: 60px;
		z-index: 5;
		&__line {
			height: 5px;
			background-color: $blue;
			margin-bottom: 5px;
			border-radius: 3px;
		}
	}

	&__aside {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		text-align: center;
		border-right: 1px solid rgba($white, $alpha: 0.25);

		.logo {
			img {
				max-width: 110px;
			}
		}

		.menu {
			margin-top: 35px;
			&-list {
				svg {
					width: 46px;
					height: 46px;
				}
				span {
					display: block;
					padding-top: 2px;
					margin-bottom: 23px;
					text-align: center;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: 14px; 
					letter-spacing: 3px;
				}
			}
		}

		.search {
			cursor: pointer;
			margin-bottom: 25px;
			svg {
				width: 22px;
				height: 22px;
			}
		}

		.date {
			font-size: 72px;
			font-style: normal;
			font-weight: 800;
			line-height: 64px;
			text-transform: uppercase;
			span {
				display: block;
				margin-top: 4px;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 19px;
				letter-spacing: 1.4px;
			}
		}

		.location {
			display: inline-block;
			position: relative;
			margin-top: 20px;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 300;
			line-height: 14px;
			letter-spacing: 1.05px;
			padding-left: 19px;
			&::before {
				content: "";
				position: absolute;
				width: 11px;
				height: 13px;
				background-image: url("../images/map-marker.webp");
				top: 0;
				left: 0;
			}
		}
	}

	&__map {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}

	&__slider {
		&-item {
			height: 100vh;
			background-image: url("../images/header-bg.webp");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			
			.slider-item {
				&__info {
					position: absolute;
					right: 80px;
					bottom: 116px;
					font-style: normal;
					text-transform: uppercase;
					text-align: right;
					&-subtitle {
						opacity: 0.5;
						font-size: 22px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 7px;
						margin-bottom: 5px;
					}
					&-title {
						font-size: 80px;
						font-weight: 800;
						line-height: 86px; 
						margin-bottom: 48px;
					}
					&-subtext {
						opacity: 0.5;
						font-size: 22px;
						font-weight: 400;
						line-height: 32px;
						letter-spacing: 7px;
						margin-bottom: 8px;
					}
					&-text {
						font-size: 40px;
						font-weight: 800;
						line-height: 46px;
						margin-bottom: 20px;
					}
					&-link {
						svg {
							width: 25px;
							height: 20px;
							fill: $white;
						}
					}
				}	
			}
		}
	}

	&__arrows {
		position: absolute;
		left: 220px;
		bottom: 35px;
		z-index: 3;
		svg {
			width: 20px;
			height: 23px;
		}
	}
}

.slider-arrows {
	width: 25px;
	height: 20px;
	fill: $white;
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
	z-index: 4;
}

.slider-arrows__left {
	right: 125px;
}

.slider-dots-head {
	position: absolute;
	right: 50px;
	bottom: 40px;
	max-width: 920px;
	width: 100%;
	.slick-current {
		.dots-box {
			border-top: 4px solid $blue;
		}
	}
}

.dots-box {
	width: 200px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
	border-top: 4px solid $white;
	padding-top: 8px;

	&__number {
		font-size: 24px;
		font-weight: 800;
		line-height: 34;
	}

	&__name {
		font-weight: 300;
		line-height: 19px;
	}
}

.line-animation {
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
	animation: animdash 2s infinite 2s;
}

@keyframes animdash {
	to {
		stroke-dashoffset: 0;
	}
}
