.shop {
	background-image: url(../images/shop-bg.webp);
	background-repeat: no-repeat;
	background-position: right center;

	.slider-arrows {
		opacity: 0.6;
	}
	
	&__slider {
		padding-left: 132px;

		&-item {
			.shop__slider-inner {
				display: flex;
			}

			.description__head-shop {
				max-width: 340px;
				margin-bottom: 47px;
			}
				
			.shop__slider-info {
				width: 100%;
				max-width: 480px;
				margin-right: 40px;
				padding-top: 150px;
			}

			.shop__slider-price {
				font-size: 32px;
				font-weight: 800;
				line-height: 40px; 
				text-transform: uppercase;
				margin-bottom: 65px;
				sup {
					font-size: 18px;
					padding-left: 2px;
				}
				.shop__star-list {
					margin-left: -9px;
				}
			}

			.shop__slider-content {
				padding-left: 170px;
				display: flex;
				align-items: flex-end;

				.shop__extras {
					padding-left: 150px;

					.shop__extras-title {
						font-size: 28px;
						font-weight: 800;
						line-height: 40px;
						text-transform: uppercase;
						margin-bottom: 25px;
					}
				}

				.surfboard {
					position: relative;
					&-box {
						position: absolute;
						&__circle {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							position: relative;
							background-color: $white;
							cursor: pointer;
							&.active {
								.circle-row + .circle-row {
									transform: translate(-50%, -50%) rotate(0);
								}
							}

							.circle-row {
								position: absolute;
								background-color: $blue;
								width: 12px;
								height: 2px;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(0);
							}
							.circle-row + .circle-row {
								transform: translate(-50%, -50%) rotate(90deg);
							}
						}

						&__circle.active + .surfboard-box__content {
							display: block;
						}

						&__content {
							display: none;
							position: absolute;
							width: 359px;
							top: -19px;
							left: 40px;
							padding-left: 104px;
							font-size: 24px;
							font-weight: 800;
							text-transform: uppercase;
							&::before {
								content: "";
								position: absolute;
								width: 80px;
								height: 2px;
								background-color: $white;
								opacity: 0.5;
								left: 0;
								top: 50%;
							}
						}
					}
					.surfboard-position--1 {
						right: 40px;
						top: 215px;
					}
					.surfboard-position--2 {
						left: -6px;
						top: 313px;
					}
					.surfboard-position--3 {
						bottom: 70px;
						left: 52px;
						.surfboard-box__content {
							padding-left: 0;
							padding-right: 104px;
							top: -15px;
							left: -400px;
							&::before {
								content: "";
								position: absolute;
								width: 80px;
								height: 2px;
								background-color: $white;
								opacity: 0.5;
								right: 0;
								left: auto;
								top: 50%;
							}
						}
					}
				}

				.shop__extras-inner {
					display: flex;

					.shop__extras-box {
						text-align: center;
						margin-right: 57px;
						
						.shop__extras-img {
							min-height: 105px;
							display: flex;
							margin-bottom: 25px;
							align-items: center;
							justify-content: center;
						}

						.shop__extras-name {
							font-size: 18px;
							font-weight: 400;
							line-height: 22px; 
							letter-spacing: 8px;
							text-transform: uppercase;
							opacity: 0.5;
							margin-bottom: 5px;
						}
						.shop__extras-price {
							font-size: 18px;
							font-weight: 800;
							line-height: 40px; 
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}
